.categories {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px 70px;
}
.categories button {
  padding: 10px 20px;
  border-radius: 8px;
  align-self: stretch;
  border: 1px solid;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  margin-top: 10px;
  text-transform: capitalize;
}
.categories button.active {
  background: linear-gradient(90deg, #db2268 0%, #e67050 100%);
  color: white;
}
@media only screen and (max-width: 968px) {
  .categories {
    width: 100%;
  }
}
@media (max-width: 628px) {
  .categories {
    padding: 15px;
  }
}
